.titleblock {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-top: 2vh;
}

.arrow {
  position: absolute;
  left: 0;
  max-width: 3vw;
  min-width: 28px;
}

.title {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 0.4vh;
}

.authForm {
  padding-top: 4.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.authForm button {
  width: 92%;
  max-width: 357px;
  border: none;
  background-color: rgba(232, 231, 237, 1);
  color: black;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
}

.authForm h2 {
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
}
