@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}
body {
  background-color: #f4f4f7;
}
img {
  width: 28px;
}
.header {
  display: flex;
  justify-content: center;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container {
  width: 91vw;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}

.iconsContainer {
  display: flex;
}
.notification {
  padding-right: 2vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-top: 4px;
}
/*  */
.viewersDecide {
  color: rgba(255, 255, 255, 1);
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.viewersBlock {
  background: linear-gradient(291.04deg, #ff0033 0%, #99001f 101.64%);
  width: 31.6vw;
  height: 18vh;
  border-radius: 8px;
  margin-right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

.navigationMenu {
  display: flex;
  align-items: center;
  padding-top: 4vh;
  margin-bottom: 13px;
}

.donateLeaders {
  background: linear-gradient(291.04deg, #ff0033 0%, #99001f 101.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.leadersBlock {
  background: #e8e7ed;
  box-shadow: 0px 4px 4px 0px #0000001a;
  width: 31.6vw;
  height: 18vh;
  border-radius: 8px;
  /* margin-right: 3vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.votingBlock {
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 31.6vw;
  height: 18vh;
  background-image: url("fire-fon.png");
  background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь блок */
  background-position: center; /* Центрирует изображение внутри блока */
  border-radius: 8px;
  margin-right: 3vw;
}
.hotVoting {
  font-family: Bebas Neue Cyrillic;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
  padding-top: 2vh;
}
.sportsContainer img {
  width: 72px;
}
.sportsContainer p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 1vh;
}

.sportsContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-x: hidden;
}
.sportsContainer::-webkit-scrollbar {
  display: none;
}
.sportsContainer div {
  margin-right: 3vw;
}
.topMatchesHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topMatchesHeader img {
  width: 20px;
  padding-top: 1vh;
}
.game {
  display: flex;
  align-items: center;
  flex: 0 1 calc(50% - 10px); /* Каждый элемент занимает 50% ширины минус отступы */
  margin-bottom: 20px; /* Отступ между рядами */
  box-sizing: border-box;
}
.game img {
  width: 11.1vw;
  border-radius: 8px;
}
.games p {
  margin: 0;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.participants {
  height: 5.6vh;
  padding-left: 2vw;
  padding-top: 1vh;
}
.games {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
  justify-content: space-between; /* Распределяет элементы по доступному пространству */
}
.referralProgram {
  background-image: url("ddf319705c92007d5b303c720af7dca7.png");
  background-size: cover; /* Для корректного масштабирования изображения */
  background-position: center; /* SЦентрирование изображения */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  border-radius: 12px;
  height: 104px;
}
.referralText {
}
.referralProgram h2 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.08em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
.referralProgram p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 297px;
  color: white;
}
.referralProgramimg {
  background-color: #0f0f0f0f;
  padding: 1vw;
}
.topFightersSection img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.fighterItem {
  display: flex;
  align-items: center;
}
.headerSection {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
}
.headerSection p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #95959b;
}
.headerSection h2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0;
}
.fightersList p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 8px;
}
.fightersList {
  display: flex;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 9px;
}
.fighterItem {
  /* flex: 0 1 calc(50% - 10px); Каждый элемент занимает 50% ширины минус отступы */
  margin-bottom: 6px; /* Отступ между рядами */
  box-sizing: border-box;
}
.topFightersSection {
  /* height: 157px; */
  background-color: #0f0f0f0f;
  /* padding: 11px; */
  /* padding-top: 3px; */
  margin-top: 12px;
  border: 1px solid #0f0f0f0f;
  border-radius: 12px;
  width: 48%;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.container {
  padding-bottom: 82px;
}
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.passwordInputContainer {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.passwordInputContainer input {
  width: -webkit-fill-available;
}
.passwordinput {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  /* max-width: 343px; */
  width: 80%;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 13px;
  border: 1px solid #0f0f0f0f;
  border-radius: 8px;
  font-size: 16px;
  height: 40px;
}
.eyeoff {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  padding-right: 10px;
  width: 20px;
  /* удалить или закомментировать pointer-events: none; */
}
.allSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggleButtons {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #0f0f0f0f;
}
.watchAll {
  color: #95959b;
  font-size: 12px;
  letter-spacing: -0.05em;
  line-height: 12px;
  font-family: Inter;
  font-weight: 500;
  text-align: left;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  display: flex;
  justify-content: center;
}
.fighterCard {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  max-width: 343px;
  width: 92%;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 13px;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.fighterCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(128, 128, 128, 0) 0%,
    rgba(128, 128, 128, 0.3) 30%,
    rgba(128, 128, 128, 0.3) 70%,
    rgba(128, 128, 128, 0) 100%
  );
}
