@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}

img {
  width: 28px;
}
.notification {
  padding-right: 2vw;
}
.header {
  display: flex;
  justify-content: center;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container {
  width: 91vw;
  padding-bottom: 120px; /* Отступ для фиксированных кнопок */
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-bottom: 4px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
/* .container {
  padding-bottom: 82px;
} */
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
.dropdownContent {
  width: 100%;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #e8e7ed4d;
  margin-bottom: 1vh;
  height: 8vh;
  border-top-width: 1px; /* Задаем ширину границы */

  border-bottom: none;
}
.name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.time {
  width: 4vw;
  height: 4vw;
  padding: 8px;
  border-radius: 50px;
  background: #ff003326;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff0033;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 27px;
  min-height: 27px;
}
.timeDate {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #95959b;
  width: 62px;
}
.mdiFire {
  position: absolute;
}
.selectTour {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #707579;
}
.container h1 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.date {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.currentVoting {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.nameFigh {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  padding-bottom: 7px;
}
.currentVotings {
}

.currentVotings > div {
}
.topTournamentDonations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.topTournamentDonations p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  padding-bottom: 2px;
}
.topTournamentDonations :first-child :last-child {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #707579;
}
.topTournamentDonations :last-child :first-child {
  text-align: end;
}
hr {
  border-color: #0f0f0f0f;
}
.vote {
  align-items: center;
  background-color: #f4f4f7;
  border-top: 1px solid #e8e7ed;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;
  padding-bottom: 12px;
  padding-right: 2.6vw;
  padding-left: 2.6vw;
  border: none;
}

.vote button {
  width: 48%;
  max-width: 357px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  height: 42px;
  border-radius: 8px;
}
.vote img {
  width: 23px;
}
.imgDonateBlack {
  background: black;
  width: 10.6vw;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
}
.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; /* Добавлено для покрытия всей страницы */
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  /* max-height: 80vh; */
  /* overflow-y: auto; */
}
.topModalHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topModalHead div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}
.choose {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choose > div {
  /* width: calc(50% - 10px);
  margin-bottom: 10px; */
}
.modalContent input {
  width: 94%;
  height: 40px;
  border: none;
  background: #0f0f0f0f;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 16px;
  border-radius: 4px;
}
.modalContent button {
  width: 100%;
  height: 40px;
  border: none;
  background: #0f0f0f;
  color: white;
  margin-top: 9px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 4px;
}
.modalContent p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.chooseFan {
  width: 90vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0f0f0f0f;
  padding: 9px;
  margin-bottom: 8px;
}
.choosesTp {
  width: 38vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0f0f0f0f;
  padding: 7px;
  margin-bottom: 8px;
}
.chooseFan,
.choosesTp {
  cursor: pointer;
  /* padding: 10px; */
  margin: 5px 0;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.categorySelected {
  background-color: #808080;
  color: white;
}

/* .selectionBlock {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.selectionBlock.visible {
  height: auto;
  margin-top: 10px; */
/* } */

.selectionContent {
  width: 100%;
}
.donateButtonsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}
.donateButtonsGrid button {
  background: #0f0f0f0f;
  color: black;
}
.balanceNow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f0f;
  padding: 0 8px;
}
.balanceNow.selected {
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}
.donateCounts p {
  text-align: left;
}
.donateCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donateButton {
  padding: 10px;
  border: 1px solid #e8e7ed;
  background: grey;
  border-radius: 5px;
}

.donateButton.selected {
  background: black;
  color: white;
  border: none;
}
.namesBut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.customAmountButton {
  width: 100%;
  padding: 12px;
  background: #0f0f0f0f !important;
  color: black !important;
  border: none;
  border-radius: 5px;
}
.customAmountButton.selected {
  background: black !important;
  color: white !important;
  border: none;
}
.banks img {
  padding-right: 2px;
}
.banks img :last-child {
  padding-right: 0px;
}
.banks.active {
  /* opacity: 1; */
}

.banks:not(.active) {
  /* opacity: 0.5; */
}
.visa {
  width: 58px;
  height: 31px;
  opacity: 0.5;
}
.master {
  width: 51px;
  height: 41px;
  opacity: 0.5;
}
.mir {
  width: 58px;
  height: 36px;
  opacity: 0.5;
}
.sbp {
  width: 66px;
  height: 36px;
  opacity: 0.5;
}
.halva {
  width: 69px;
  height: 29px;
  opacity: 0.5;
}
.autoSupport {
  display: flex;
  align-items: center;
}
.autoSupportToggleInput {
  display: flex;
}
.autoSupport p {
  padding-left: 8px;
}
.noneInput {
  width: 0px !important;
  height: 0px !important;
}
.dropdownContent {
  align-items: center;
  background: #e8e7ed4d;
  /* border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #fff0, #ef5050 50.5%, #fff0);
  border-style: solid; */
  border-bottom: none;
  border-top-width: 1px;
  box-shadow: 0 2px 4px #0000001a;
  display: flex;
  height: 76px;
  justify-content: space-evenly;
  margin-bottom: 1vh;
  /* position: relative; */
  width: 100%;
  flex-direction: column;
}
.timeDate {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #95959b;
  /* width: 62px; */
  width: 95%;
  display: flex;
}
.timeDate p {
  margin: 0;
}
.fightersNames {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.fighterName {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 50%;
}
.Avatar {
  width: 32px;
  height: 32px;
  border-radius: 8px;
}
.name {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 13px;
  margin: 0;
}
.voting {
  cursor: pointer;
  background: #e8e7ed;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 8px;
  padding-top: 0;
  border: 1px solid #0f0f0f0f;
}

.votingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.expandIcon {
  transition: transform 0.3s ease;
}

.expanded {
  transform: rotate(180deg);
}

.matchVotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.fighters,
.voteCount {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.header select {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  /* max-width: 343px; */
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-bottom: -8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 1vh;

  /* Добавляем свою стрелку через background-image */
  background-image: url("./chevron-down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;

  /* Добавляем отступ справа чтобы стрелка не накладывалась на текст */
  padding-right: 30px;
}
.matchVotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.voteProgressBar {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: #0f0f0f0f;
  margin: 4px 0;
}

.voteProgressFill {
  height: 100%;
  background: black;
  transition: width 0.3s ease;
  border-radius: 8px;
}
.progressContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.percentage {
  min-width: 40px;
}
.fighters p {
  margin: 0;
}
/* В Voting.module.css */
.expandIcon1 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.expandIcon2 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.expandIcon3 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.expandIcon4 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.expanded1 {
  transform: rotate(180deg);
}

.expanded2 {
  transform: rotate(180deg);
}

.expanded3 {
  transform: rotate(180deg);
}

.expanded4 {
  transform: rotate(180deg);
}
.BroDonate {
  font-family: Krona One, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 20px;
  margin: 0;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
.selected {
  opacity: inherit;
}
