@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}
.activeText {
  color: black !important;
}
img {
  width: 28px;
}
.header {
  display: flex;
  justify-content: center;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container {
  width: 91vw;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 35px);
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-bottom: 4px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.container {
  padding-bottom: 82px;
}
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
.notification {
  padding-right: 2vw;
}
.header h1 {
  color: black;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.earned {
  /* text-align: center;
  background-color: #0f0f0f0f;
  width: 164px;
  height: 61px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 156px;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
.earned :first-child {
  color: black;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  padding-bottom: 10px;
}
.earned :last-child {
  color: #000;
  font-family: Inter;
  margin: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 17px;
  padding-bottom: 4px;
  text-align: center;
  padding-bottom: 0;
}
.solarDownload {
  width: 36px;
  padding-bottom: 5px;
}
.earned :nth-child(2) {
  color: black;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  /* text-align: left; */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  padding-bottom: 15px;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
.earn {
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 339px;
}
.accruals {
  color: black;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 273px;
}
.accruals1 {
  color: black;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 273px;
}
.referralProgram {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Изменено с flex-start */
  padding: 11px;
  background: linear-gradient(291.04deg, #ff0033 0%, #99001f 101.64%);
  margin-top: 10px;
  height: 84px;
  border-radius: 10px;
}
.referralProgram h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.08em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 78vw;
  width: 95%;
}
.referralProgram p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 297px;
  color: white;
  width: 74vw;
}
.forwardWhite {
  width: 36px;
}
.earnRef {
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  /* text-align: center; */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 339px;
}
.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; /* Добавлено для покрытия всей страницы */
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 80vh;
  /* overflow-y: auto; */
}
.modalContent button {
  width: 99%;
  height: 40px;
  border: none;
  background: #0f0f0f;
  color: white;
  margin-top: 9px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 4px;
}
.namesBut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}
.topModalHead p {
  color: black;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 343px;
}
.modalOverlay input {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #0f0f0f0f;
  border: none;
  height: 40px;
  width: 98%;
  border-radius: 4px;
}
.BroDonate {
  font-family: Krona One, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 20px;
  margin: 0;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
