/*  */
input:focus {
  /* background-color: white; */
  outline: 0;
  border-width: thin;
  /* border-radius: 2px; */
}
.container {
  min-height: 100vh;
  position: relative;
}
.titleblock {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-top: 2vh;
}

.arrow {
  position: absolute;
  left: 0;
  max-width: 3vw;
  min-width: 28px;
}

.title {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-left: 27vw;
  letter-spacing: -0.04em;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  margin-bottom: 0;
  margin-top: 0;
}
/*  */
.authForm {
  padding-top: 4.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.authForm input,
.authForm button {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
}
.authForm button {
  width: 94%;
  max-width: 357px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 7vw;
}
.authForm h2 {
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  max-width: 343px;
  width: 92%;
  margin-bottom: -1vh;
  border-radius: 4px;
}
.authForm select {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  width: 94%;
  height: 40px;
  font-size: 16px;
  margin-bottom: -8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./chevron-down.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 26px;
  padding-right: 30px;
  max-width: 357px;
}
.authForm select:focus {
  outline: none;
}
.disabledButton {
  background-color: #e8e7ed !important;
  color: #95959b !important;
  cursor: not-allowed;
}

.activeButton {
  background-color: black !important;
  color: white !important;
  cursor: pointer;
}
