@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}

img {
  width: 28px;
}
.header {
  display: flex;
  justify-content: center;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.container {
  width: 91vw;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-bottom: 4px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.container {
  padding-bottom: 82px;
}
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
.contentAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donations {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nameFlag {
  display: flex;
  justify-content: space-between;
  width: 48%;
  align-items: center;
}
.competitions {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container h1 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.contentAboutImg img {
  width: 96px;
  height: 96px;
  border-radius: 12px;
}
.greyText {
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.06em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.greyText {
  padding-right: 8px;
}
.inputButton {
  background: linear-gradient(291.04deg, #ff0033 0%, #99001f 101.64%);
  border: none;
  color: white;
  width: 100vw;
  height: 42px;
  padding: 12px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.donations :first-child {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 0;
}
.donations :last-child {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 4px;
}

.gaugeContainer {
  position: relative;
  width: 220px; /* Ширина полукруга */
  height: 110px; /* Высота полукруга */
}

.halfCircle {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 16px;
  left: 47%;
  transform-origin: bottom center;
  width: 12px;
  height: auto;
}

.percentage {
  position: absolute;
  top: 60px; /* Положение текста */
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
}
.approvalRating {
  display: flex;
  align-items: center;
  position: relative;
}
.approvalRating p {
  padding-left: 10px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.heroFans {
  color: #008b18;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.approvalRating :last-child {
  color: #008b18;
}
.container h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.statistics {
  display: flex;
  align-items: center;
  text-align: center;
}
.statistic :first-child {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.statistic :last-child {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}
.statisticReit {
  background-color: #e8e7ed4d;
  width: 164px;
  height: 58px;
  padding: 12px;
  border: 1px;
  margin: 6px;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 1px;
  border-style: solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #ef5050 50.5%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
  border-bottom: none;
}
.statisticReit {
}
.statistic {
  background-color: #e8e7ed;
  border-bottom: none;
  height: 62px;
  margin: 0 6px;
  /* padding: 12px; */
  width: 164px;
  border: 1px solid #0f0f0f0f;
  border-radius: 12px;
  background-color: #e8e7ed;
  border-bottom: none;
  height: 62px;
  margin: 0 6px;
  /* padding: 12px; */
  width: 164px;
  border: 1px solid #0f0f0f0f;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.community {
  display: flex;
}
.community :first-child {
  padding-right: 10px;
}
.buttonsPopular img {
  width: 20px;
  height: 20px;
  padding: 2.5px 4.17px 2.5px 4.16px;
}
.buttonAll {
  width: 47px;
  height: 31px;
  color: white;
  background-color: black;
  border: none;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-right: 10px;
  border-radius: 4px;
}
.buttonPopular {
  width: 114px;
  height: 31px;
  background-color: #e8e7ed;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 4px;
}
.buttonsPopular {
  display: flex;
  align-items: center;
}
.addPost {
  border: none;
  width: 100%;
  height: 44px;
  padding: 12px 16px 12px 16px;
  background: #e8e7ed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.addPost img {
  padding-right: 10px;
}
.message {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.userName {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.timestamp {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.likeCount {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.profileImage {
  width: 40px;
  padding-right: 0;
  height: 40px;
  margin-right: 9px;
  border-radius: 8px;
}
.userInfo p {
  margin: 0;
}
.cardHeader {
  display: flex;
  align-items: center;
}
.cardHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardFooter {
  display: flex;
  align-items: center;
}
.card {
  padding: 10px;
}
.likeIcon {
  cursor: pointer;
  transition: transform 0.2s;
  width: 20px;
  padding-right: 1px;
}

.likeIcon:hover {
  transform: scale(1.1);
}

.likeIcon.active {
  filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(340deg);
}
.commentLikeIcon {
  cursor: pointer;
  transition: transform 0.2s;
}

.commentLikeIcon:hover {
  transform: scale(1.1);
}

.commentLikeIcon.active {
  filter: invert(40%) sepia(100%) saturate(1000%) hue-rotate(340deg);
}
.cardFighter {
  background: #e8e7ed;
  margin-top: 12px;
  padding: 10px;
  border-radius: 8px;
}

/* Стиль для комментариев */
.commentCard {
  padding: 10px;
  background: transparent; /* Убираем серый фон */
}
.commentIcon {
  width: 20px;
  padding-left: 10px;
  padding-right: 1px;
}
.passwordInputContainer {
  position: relative;
  width: 96.4%;
  max-width: 343px;
  margin-right: 13px;
}

.passwordInputContainer input {
  width: 100%;
  height: 5vh;
  margin-top: 10px;
}
.passwordinput {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  max-width: 343px;
  width: 80%;
  padding-right: 0px;
  margin-right: 0px;
  padding-left: 13px;
}
.eyeoff {
  position: absolute;
  right: 10px;
  top: 57%;
  transform: translateY(-50%);
  width: 28px;
  /* удалить или закомментировать pointer-events: none; */
}
.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0; /* Добавлено для покрытия всей страницы */
  background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  /* max-height: 80vh; */
  /* overflow-y: auto; */
}
/* .topModalHead div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
} */
.modalContent input {
  width: 94%;
  height: 40px;
  border: none;
  background: #0f0f0f0f;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 16px;
  border-radius: 4px;
}
.modalContent button {
  width: 99%;
  height: 40px;
  border: none;
  background: #0f0f0f;
  color: white;
  margin-top: 9px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 4px;
}
.votings {
  display: flex;
  align-items: center;
  justify-content: center;
}
.votingReit .votingDonat {
  width: 44vw;
  height: 52px;
}
.votingReit p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 23vw;
  min-width: 82px;
}
.votingDonat p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  width: 23vw;
}
.votingDonat {
  margin-top: 15px;

  width: 230px;
  height: 42px;
  gap: 8px;
  border-radius: 4px;
  border: none;
  background: #12a12a;
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}
.votingReit {
  width: 230px;
  height: 42px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: none;
  color: white;
  background: black;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.choose {
  display: flex;
  justify-content: space-between;
  width: 101%;
  margin-right: 1vw;
}
.choosesTp {
  width: 38vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0f0f0f0f;
  padding: 14px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.categorySelected {
  background: white;
  color: #808080;
}

.modalContent p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.selectionContent {
  width: 100%;
}
.namesBut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.donateButtonsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}
.donateButtonsGrid button {
  background: #0f0f0f0f;
  color: black;
}
.donateButton {
  padding: 10px;
  border: 1px solid #e8e7ed;
  background: grey;
  border-radius: 5px;
}

.donateButton.selected {
  background: black;
  color: white;
  border: none;
}

.customAmountButton {
  width: 100%;
  padding: 12px;
  background: #0f0f0f0f !important;
  color: black !important;
  border: none;
  border-radius: 5px;
}
.customAmountButton.selected {
  background: black !important;
  color: white !important;
  border: none;
}
.donateCounts p {
  text-align: left;
}
.donateCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balanceNow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f0f;
  padding: 0 8px;
}
.visa {
  width: 58px;
  height: 31px;
}
.master {
  width: 51px;
  height: 41px;
}
.mir {
  width: 58px;
  height: 36px;
}
.sbp {
  width: 66px;
  height: 36px;
}
.halva {
  width: 69px;
  height: 29px;
}
.banks img {
  padding-right: 2px;
}
.banks img :last-child {
  padding-right: 0px;
}
.noneInput {
  width: 0px !important;
  height: 0px !important;
}
.autoSupport {
  display: flex;
  align-items: center;
}
.autoSupportToggleInput {
  display: flex;
}
.autoSupport p {
  padding-left: 8px;
}
.donationProgressContainer {
  width: 100%;
  margin-top: 15px;
}

.donationProgressBar {
  width: 100%;
  height: 24px;
  background: #e8e7ed;
  border-radius: 3px;
  overflow: hidden;
  position: relative; /* Добавлено для позиционирования процентов */
}

.donationProgressFill {
  height: 100%;
  background: black;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.donationProgressPercentage {
  position: absolute;
  color: white;
  font-size: 10px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}

.donationProgressText {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: Inter;
  font-size: 12px;
  color: #95959b;
}
.donationProgressContainer p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.balanceNow.selected {
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
}

.banks.active {
  opacity: 1;
}

.banks:not(.active) {
  opacity: 0.5;
}

.selected {
  border: 2px solid #000;
  border-radius: 4px;
}
.notification {
  padding-right: 2vw;
}
.community h3 {
  cursor: pointer;
  color: #95959b;
}

.community h3.active {
  opacity: 1;
  color: black;
}
.BroDonate {
  font-family: Krona One, sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 20px;
  margin: 0;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}
.infoModal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0000001a;
  max-width: 200px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  top: 42px;
  left: 31px;
}

.infoModalContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.infoModalContent p {
  color: #95959b;
}
