input:focus {
  outline: 0;
  border-width: thin;
}

.titleblock {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-top: 2vh;
}

.arrow {
  position: absolute;
  left: 0;
  max-width: 3vw;
  min-width: 28px;
}

.title {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 0.4vh;
}

.authForm {
  padding-top: 4.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.authorization {
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
}

.email {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-left: 10px;
  max-width: 343px;
  width: 92%;
  height: 40px;
  font-size: 16px;
}

.passwordInputContainer {
  position: relative;
  width: 92%;
  max-width: 343px;
  margin-right: 13px;
}

.passwordinput {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  padding-left: 13px;
  width: 100%;
  height: 40px;
  font-size: 16px;
}

.eyeoff {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
}
/*  */
.consentBlock img {
  width: 20px;
  padding-right: 3vw;
}
.consentBlock p {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  /* line-height: 15px; */
  letter-spacing: -0.04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.consentBlock {
  display: flex;
  align-items: center;
  width: 94vw;
  max-width: 700px;
}
.consentBlock span {
  color: rgba(255, 0, 51, 1);
}
.nextReg {
  width: 92%;
  max-width: 343px;
  height: 40px;
  font-size: 16px;
  border: none;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.referralLink {
  font-size: 12px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(149, 149, 155, 1);
}
