@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}

img {
  width: 28px;
}
.header {
  display: flex;
  justify-content: center;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container {
  width: 91vw;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 35px);
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-bottom: 4px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.container {
  padding-bottom: 82px;
}
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
.notification {
  padding-right: 2vw;
}
.fighterItem img {
  border-radius: 8px;
  height: 48px;
  width: 48px;
  /* margin-right: 11px; */
}
.countryItem img {
  width: 48px;
  height: 48px;
}
.fighterItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100px;
  border-radius: 8px;
  margin-right: 5.7%;
  background: #e8e7ed;
}
.fighterAbout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100px;
}

.container h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.userItem img {
  border-radius: 8px;
  height: 48px;
  width: 48px;
  /* margin-right: 11px; */
}

.userItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 8px;
  margin-right: 5.7%;
  background: #e8e7ed;
}

.userAbout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100px;
}
.objects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: auto;
  -ms-overflow-x: hidden;
  scrollbar-width: none;
}
.countryItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  background: #e8e7ed;
  border-radius: 8px;
  margin-right: 5.7%;
}
.countryInfo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
}
.countryInfo span {
}
.index {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 8px 0;
}
.money {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 8px 0;
}
.textCount {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 8px 0;
  margin-top: 0 !important;
}
.textGrey {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: -0.05em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #95959b;
}
.objects {
  display: flex;
  transition: all 0.3s ease;
}

.objects.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.objects.scroll {
  overflow-x: auto;
  white-space: nowrap;
}

.toggleView {
  width: 28px;
  height: 28px;
  cursor: pointer;
  margin-bottom: 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
