/*  */
input:focus {
  /* background-color: white; */
  outline: 0;
  border-width: thin;
  /* border-radius: 2px; */
}
.container {
  min-height: 100vh;
  position: relative;
}
.titleblock {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  padding-top: 2vh;
}
.Forgotpassword {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding-top: 4.9vh;
  width: 100%;
}
.arrow {
  position: absolute;
  left: 0;
  max-width: 3vw;
  min-width: 28px;
}

.title {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-bottom: 0.4vh;
}
/*  */
.authForm {
  padding-top: 4.9vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92%;
  gap: 15px;
}
.authForm input,
.authForm button {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
}
.authForm button {
  width: 104% !important;
}
.authForm button {
  width: 83%;
  max-width: 357px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.authForm h2 {
  font-size: 16px;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.06em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email {
  border: none;
  background-color: rgba(15, 15, 15, 0.06);
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 10px;
  max-width: 343px;
  width: 80%;
  margin-bottom: -1vh;
}
