@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: url("../../fonts/bebasneuecyrillic.ttf") format("truetype");
}

img {
  width: 28px;
}
.header {
  display: flex;
  justify-content: center;
}
.notification {
  padding-right: 2vw;
}
.header h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.container {
  width: 91vw;
}
.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}
.backArrow {
  display: flex;
  align-items: center;
}
.backArrow h1 {
  margin: 0;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 0.4vh;
  padding-left: 1vw;
}
.search {
  width: 19px;
  height: 19px;
  padding-bottom: 4px;
}
.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.bottomNav button {
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}
.container {
  padding-bottom: 82px;
}
.bottomNav p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
  color: #95959b;
}
.bottomNav img {
  /* padding-left: 8px; */
}
.catalogItem {
  display: flex;
  flex-direction: column; /* Размещаем элементы по вертикали */
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
}

.catalogImage {
  margin-bottom: 4px; /* Отступ между изображением и текстом */
}

.catalogText {
  margin: 0; /* Убираем стандартные отступы */
}
.nameAvatar {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.nameAvatar img {
  width: 48px;
}
.nameAvatar h2 {
  margin: 0;
  padding-bottom: 4px;
}
.nameAvatar p {
  margin: 0;
}
.nameAvatar div {
  padding-left: 12px;
}
.achievement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accountSection div {
  display: flex;
  align-items: center;
}
.accountSection div img {
  padding-right: 16px;
}
.sportsContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-x: hidden;
}
.sportsContainer::-webkit-scrollbar {
  display: none;
}
.sportsContainer div {
  margin-right: 3vw;
}
.sportsContainer img {
  width: 72px;
  height: 72px;
}
.balanceInfo {
  justify-content: space-between;
}
.nameAvatar p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.accountSection p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
